html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    color:white;
  }

body::before {
    display: block;
    position:fixed;
    top:0;
    left:0;
    z-index:-1;
    width:100vw;
    height:100vh;
    background: linear-gradient(to bottom, rgb(47, 145, 158, 0.5),rgb(167, 51, 167,0.5)), url("image/background.png");
    
    -webkit-background-size:cover;
    background-size:cover;
    content:"";
}

.profile {
    display: inline-block;
    border: 10px dotted white; 
    padding: 50px; 
    margin: 20px; 
}